
<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-sm d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <img src="../../assets/petcares.png" alt="logo" class="navbar-logo w-50  ">
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="mynavbar">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link " href="">HOME<span class="splitter">/</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">ABOUT US<span class="splitter">/</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">OUR COURSES<span class="splitter">/</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/blog">READ BLOG<span class="splitter">/</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">CONTACT</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
   
    <div class="head-img">
    <!-- <div class="header-image"> -->
        <img src="../../assets/dog.webp" alt="Header Image" class="img-fluid  header-image">
    <!-- </div> -->
    <!-- <div class="header-image-2"> -->
        <img src="../../assets/petcare.jpg" alt="Header Image" class="img-fluid  header-image-2">
    <!-- </div> -->
</div>
  
    <div class="para">
        <h2 class="text-light">
            
            Everything you need to keep your cat,<br>
            dog or small pet happy and healthy
        </h2>
    </div>
   
    <div class="btns pt-3">
      <button type="button" class="btn-light btn-1">Join Us</button>
      <button type="button" class="btn-2">Explore</button>
    </div>  
  </div>