<app-header></app-header>
<div class="container-fluid feedback-section mt-3">
    <h2>Clients Feedback</h2>
    <p>Dedicated to providing the highest quality veterinary care in a warm</p>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/person1.jpg" class="rounded-circle mb-5" alt="Client 1">
                    <div>
                        <p class="card-text align">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste minus neque corrupti officiis rerum tempora sit, maiores nostrum in nulla totam facilis, sequi necessitatibus a! Fugit tempora quaerat error nam!"</p>
                        <p class="font-weight-bold">Adam Williams</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/person2.jpg" class="rounded-circle mb-5" alt="Client 2">
                    <div>
                        <p class="card-text align">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste minus neque corrupti officiis rerum tempora sit, maiores nostrum in nulla totam facilis, sequi necessitatibus a! Fugit tempora quaerat error nam!"</p>
                        <p class="font-weight-bold">Jane Doe</p>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <div class="carousel">
        <i class="bi bi-dot dot dot1"  id="slide1" name="carousel" checked ></i>
        <i class="bi bi-dot dot dot2"  id="slide2" name="carouse2"></i>
        <i class="bi bi-dot dot dot3"  id="slide3" name="carouse3" ></i> 
    </div>
</div>
<div class="appointment-section h-100">
    <div class="container-fluid">
        <div class="background-container container-fluid">
          
            <div class="row no-gutters">
                
                <div class="col-md-8 left-side d-flex flex-column justify-content-center align-items-center text-center">
                   
                    <h1 class="text-white">MAKE AN APPOINTMENT</h1>
                    
                    <p class="text-white">"Everything you need to keep your cat, dog, or small pet happy and healthy"</p>
                    <p class="text-white">Visit us at 123 Street, City, State 45678</p>
                    <p class="text-white"></p>
                    <p class="text-white"></p>
                    <p class="text-white">Call : 80 1234 56789</p> 
                    

                   
                </div>
                <div class="col-md-4 right-side">
                    <form class="appointment-form">
                        <div class="d-flex">
                            <div class="form-group p-3">
                                <input type="text" class="form-control" placeholder="Enter Your Name">
                            </div>
                            <div class="form-group p-3">
                                <input type="email" class="form-control" placeholder="Enter your email address">
                            </div>
                        </div>
                        <div class="form-group p-3">
                            <textarea class="form-control" rows="5" placeholder="Type your message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block w-100">MAKE AN APPOINTMENT</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>