<app-header></app-header>
<div class="container">
<div class="heading ms-5 mt-5">
  <h3 class="ms-5"> Read Intresting Pet Articles</h3>
   <p class="ms-5"> <b>Dedicated to providing the highest quality veterinary care in a warm and <br> friendly atmosphere.</b> </p>
</div>
<div class="article justify-content-center">
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/smalldogs.jpg" class="img-fluid rounded-start article-image-1" alt="smalldog">
        <span class="badge  bg position-absolute top-0 start-0">21-January <br>Antony Markins</span>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="card-body1">
           <h6 class="padd">We are dedicated to providing the highest quality <span class="highlight">veterinary care.</span></h6>
          <p class="card-text padd">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque earum eligendi qui odio corporis facere error quae veritatis possimus dicta, suscipit tenetur explicabo praesentium nulla labore et quis ullam</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/pug.jpg" class="img-fluid rounded-start article-image-2" alt="pug">
        <span class="badge  bg position-absolute top-0 start-0 ">21-January <br>Antony Markins</span>

      </div>
      <div class="col-md-6 col-lg-6">
        <div class="card-body1 ">
            <h6 class="padd">We are dedicated to providing the highest quality <span class="highlight">veterinary care.</span></h6>
            <p class="card-text padd">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aut minus architecto totam dolorum vero quos recusandae similique ex odit vel quam illo laudantium reiciendis eum doloremque veniam rerum, </p>
        </div>
      </div>
    </div>
  </div> 
</div>
  <div class="pagination-buttons">
    <nav>
        <ul class="pagination">
            <li>
                <a href="#">

                    <img src="../../assets/left-arrow.png" alt="left-arrow" class=" arrow">


                </a>
            </li>
            <li>
                <a href="#">
                  <img src="../../assets/right-arrow.png" alt="right-arrow" class="arrow">

                </a>
            </li>

        </ul>
    </nav>
</div>
</div>
<hr>
<div class="container feedback-section">
    <h2>Clients Feedback</h2>
    <p>Dedicated to providing the highest quality veterinary care in a warm</p>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/person1.jpg" class="rounded-circle " alt="Client 1">
                    <div>
                        <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..."</p>
                        <p class="font-weight-bold">Adam Williams</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <img src="../../assets/person2.jpg" class="rounded-circle" alt="Client 2">
                    <div>
                        <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..."</p>
                        <p class="font-weight-bold">Jane Doe</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel">
          <i class="bi bi-dot dot dot1"  id="slide1" name="carousel" checked ></i>
          <i class="bi bi-dot dot dot2"  id="slide2" name="carouse2"></i>
          <i class="bi bi-dot dot dot3"  id="slide3" name="carouse3" ></i> 
      </div>
    </div>
    
</div>



<app-footer></app-footer>