<app-header></app-header>
<div class="heading pt-5 pb-3">
    <h3>

    We have been developing innovative health products for the pets <br>
    you love.

    </h3>
</div>
<div class="container-fluid cards ">
   
    <div class="card">
        <div class="row g-0">
            <div class="col-md-4 d-flex">
                <img src="../../assets/siren.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body py-5">
                    <h5 class="card-title">Emergency & Critical Care</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, cum.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card ">
        <div class="row g-0">
            <div class="col-md-4 d-flex">
                <img src="../../assets/soap.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body py-5">
                    <h5 class="card-title">Pet Grooming</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, harum.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-3">
        <div class="row g-0">
            <div class="col-md-4 d-flex">
                <img src="../../assets/operating.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body py-5">
                    <h5 class="card-title">Surgical Services</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, amet.</p>
                </div>
            </div>
        </div>
    </div>
   
</div>
<div class="container">
    <div class="row">
   
 <div class="text-content col-lg-6">
        <h1>A fun place for dogs! PetCare provides primary and specialty veterinary care for your pet.</h1>
        <div class="list">
            <div class="list-1">
                <ul class="services-list">
                    <li>
                        <h2>Pet Grooming</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </li>
                    <li>
                        <h2>Pet Vaccinations</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </li>
                    <li>
                        <h2>Pet Grooming</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </li>
                </ul>
            </div>
            <div class="list-2">
                <ul class="services-list">
                    <li>
                        <h2>Pet Grooming</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </li>
                    <li>
                        <h2>Pet Vaccinations</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </li>
                    <li>
                        <h2>Pet Grooming</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </li>
                </ul>
            </div>
        </div>
        <a href="#" class="view-all">View All Services</a>
    </div>
       
   
    <div class="col-lg-6">
      <div class=" img-fluid image-content">
        <img src="../../assets/cats.png" alt="Cat in a basket" class="catimage">
    </div>       
    </div>
     </div>
</div>

<app-footer></app-footer>
